

<table id="page-length-option" class="display">


    <thead>
        <tr>

            <th>Id Programa / Universidad</th>
            <th>Programa</th>
            <th>Universidad</th>
            <th>Cod.Scat</th>
            <th>Rango de Fechas</th>
            <th>Estado</th>
            <th>Nivel</th>


        </tr>
    </thead>
    <tbody>

        <tr>
            <td>PROG-INST-000003</td>
            <td>Desarrollo de Software</td>
            <td>Instituto Tecnologico de Santo Domingo</td>
            <td>SCAT-27</td>
            <td>30/11/0001 - 30/11/0001</td>
            <td>Inicial</td>
            <td>Activo</td>
        </tr>



    </tbody>
    <tfoot>
        <tr>

            <th>Id Programa / Universidad</th>
            <th>Programa</th>
            <th>Universidad</th>
            <th>Cod.Scat</th>
            <th>Rango de Fechas</th>
            <th>Estado</th>
            <th>Nivel</th>

        </tr>
    </tfoot>
</table>

<div class="modal mt-4" id="formulariopassword"></div>

<div class="row ">
    <div class="col s5 center ml-10 mt-5 modal " id="formularioestado">

    </div>
</div>
